.card-container {
  width: 25%;
  height: 250px;
  max-width: 250px;
  margin-top: 15px;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .card-img-container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;

    .card-img {
      width: 65%;
      border-radius: 50%;

      img {
        height: 100%;
        width: 100%;
        max-height: 160px;
        max-width: 160px;
        border-radius: 50%;
      }
    }
  }

  .user-info {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 33.33%;
      border-top: 1px solid lightgrey;
      text-align: center;

      span {
        font-weight: 700;
      }
    }
  }
}
