nav {
  height: 10vh;
  width: 100%;
}
nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;

  color: rgb(89, 89, 89);
}
nav ul li {
  list-style: none;
  font-size: 1.5rem;
}
nav ul li:hover {
  cursor: pointer;
  color: black;
}
