.home {
  header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: aqua;
    }

    nav {
      width: 60%;
      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;

        li {
          font-size: 1.1rem;
          font-weight: 500;
          color: rgb(100, 99, 99);
          margin-left: 10%;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: aqua;
          }
        }
      }

      @media (min-width: 768px) {
        width: 50%;

        ul {
          li {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .description {
      height: 40%;
      width: 80%;
      padding: 5%;
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      background-color: rgba(250, 248, 248, 0.438);

      .description-heading {
        p {
          text-align: center;
          font-size: 1.8rem;
          color: rgb(65, 65, 65);
          font-weight: 700;
          span {
            color: aqua;
            font-weight: 700;
          }
        }
      }

      .description-text {
        p {
          text-align: center;
          font-size: 1.1rem;
          color: rgb(71, 71, 71);
        }
      }

      @media (min-width: 768px) {
        height: 40%;
        width: 60%;
        padding: 10%;
      }

      @media (min-width: 1280px) {
        height: 50%;
        width: 50%;
        padding: 5%;

        .description-heading {
          p {
            font-size: 2rem;
            font-weight: 700;
          }
        }

        .description-text {
          p {
            font-size: 1.5rem;
          }
        }
      }
    }

    .home-img {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
