* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  height: 500px;
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid black;
  flex-direction: column;
  overflow-y: auto;
}

.card {
  height: 200px;
  width: 200px;
  background-color: red;
  margin-top: 5px;
  border: 1px solid black;
}
