.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;

    a {
      margin-top: 5px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 80%;
    height: 40%;
    max-width: 700px;
    max-height: 600px;

    .input-group {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 25%;
      width: 80%;

      label {
        font-size: 1.2rem;
      }

      input {
        height: 40px;
        border-radius: 12px;
        border: 1px solid lightgrey;
        width: 75%;
        margin-left: 5px;
        padding: 0px 5%;

        &:focus,
        &:active {
          outline: 1px solid aqua;
        }
      }
    }

    @media (min-width: 540px) {
      width: 60%;
      height: 40%;
    }

    @media (min-width: 768px) {
      width: 50%;
      height: 40%;

      .input-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // border: 1px solid black;
        height: 25%;
        width: 80%;
        max-width: 250px;
      }
    }

    @media (min-width: 1080px) {
      width: 40%;
      height: 40%;
    }
  }
}
